<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{utilsService?.app?.appName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openApp(utilsService.app.packageName)">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-thumbnail>
      <img [src]="utilsService?.app?.appIcon" alt="">
    </ion-thumbnail>
    <ion-label class="ion-margin-start">
      <h2>
        {{utilsService?.app?.appName}}
      </h2>
      <p>
        {{utilsService?.app?.packageName}}
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Version</h1>
      <p>{{utilsService?.app?.versionName}}</p>
      <br />
      <br />
      <h1>Size</h1>
      <p>{{appSize}}</p>
      <br />
      <br />
      <h1>Data Directory</h1>
      <p>{{utilsService?.app?.dataDir}}</p>
      <br />
      <br />
      <h1>Unity Version</h1>
      <p>
        {{unityVersion}}
      </p>
      <ng-container *ngIf="technology">
        <br />
        <br />
        <h1>Used Technology</h1>
        <p>
          {{technology}}
        </p>
      </ng-container>
    </ion-label>
  </ion-item>
</ion-content>